<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Analysis</title>
    <link
      rel="stylesheet"
      href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
    />
  </head>
  <body>
    <h1>Data Analysis Summary</h1>
    <h2>Summary Statistics:</h2>
    <div>{{ table|safe }}</div>

    <h2>Cleaned Data (Head):</h2>
    <div>{{ cleaned_table|safe }}</div>
  </body>
</html>
